.features {
    padding: 120px 0;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.list-features {
    display: flex;
    gap: 24px;
}

.features-image {
    display: flex;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    fill: #2E2F42;
}

.list-features-item {
    width: calc((100% - 72px) / 4);
}

.features .content-header {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-bottom: 8px;
}

.paragraph-features {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

